.block{
    border: 1px solid black;
    box-shadow: 5px 5px 5px ;
    perspective:500px;
    min-width: 300px;
    max-height: 500px;
    overflow: auto;
    padding: 25px;
}

li{
    margin-top: 3px;
    list-style-type: none;
    display: inline-block;
    white-space: unset;
}