<app-header></app-header>
<form [formGroup]="generateForms">
    <section fxLayout="row" fxLayoutAlign="space-around center">

        <section class="block" fxLayout="column" fxLayoutAlign="space-around center">
            <span>Création du mock</span>
            <section class="result">
            <section fxLayout="row" fxLayoutAlign="space-around center">
                
            <section>
                <mat-form-field class="example-form-field">
                    <mat-label>Titre de l'objet</mat-label>
                    <input matInput type="text" formControlName="title" [ngClass]="{
                        'valid':generateForms.get('title').valid,
                        'disabled': generateForms.get('title').disabled
                        }">
                    <button mat-button *ngIf="generateForms.get('title').value" matSuffix mat-icon-button
                        aria-label="Clear" (click)="value=generateForms.get('title').setValue('')">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </section>

            <section>
                <mat-form-field class="example-form-field">
                    <mat-label>Nombre de ligne:</mat-label>
                    <input matInput type="number" formControlName="nbrLiner" [ngClass]="{
                         'valid':generateForms.get('nbrLiner').valid,
                         'disabled': generateForms.get('nbrLiner').disabled
                         }">
                    <button mat-button *ngIf="generateForms.get('nbrLiner').value" matSuffix mat-icon-button
                        aria-label="Clear" (click)="value=generateForms.get('nbrLiner').setValue('')">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </section>
        </section>
        </section>

            <button (click)="addGenerateForm()" [disabled]="disabledButton === false"
                [ngClass]="{'disabled': disabledButton === false}">
                Ajouter une propriété
                <mat-icon>playlist_add</mat-icon>
            </button>

            <section fxLayout="column" fxLayoutAlign="space-around center" formArrayName="generateFormArray">
                <section *ngFor="let generateForm of getGenerateFormControls(); index as i" [formGroupName]="i">

                    <section fxLayout="row" fxLayoutAlign="space-around center">

                        <section>
                            <mat-form-field class="example-form-field">
                                <mat-label>Nom de la Propriété {{nbrProperties}}</mat-label>
                                <input matInput type="text" formControlName="titleProperties">
                                <button mat-button *ngIf="generateForms.get('title').value" matSuffix mat-icon-button
                                    aria-label="Clear" (click)="value=''">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </section>

                        <section>
                            <mat-form-field appearance="fill">
                                <mat-label>Type de propriété</mat-label>
                                <mat-select formControlName="typeProperties">
                                    <mat-option *ngFor="let value of valueSelect" [value]="value.value">
                                        {{value.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </section>

                    </section>

                </section>
                <section fxLayout="row" fxLayoutAlign="space-around center">
                    <button (click)="creationMock()"
                    [disabled]="generateForms.invalid">
                        Création
                        <mat-icon>playlist_add_check</mat-icon>
                    </button>
                    <button (click)="saveObject()" [disabled]="saveObjectStatus === false"
                        [ngClass]="{'disabled': saveObjectStatus === false }">
                        Sauvegarder objet
                        <mat-icon>archive</mat-icon>
                    </button>
                    <button (click)="readObject()" [disabled]="dataInSession === false"
                        [ngClass]="{'disabled': dataInSession === false }">
                        Réafficher objet
                        <mat-icon>replay</mat-icon>
                    </button>
                    <button (click)="reinitiateResult()">
                        Réinitialiser
                        <mat-icon>backspace</mat-icon>
                    </button>
                </section>
            </section>



            <section>

            </section>
        </section>


        <section class="block" fxLayout="column" fxLayoutAlign="space-around center" *ngIf="watchValue === true">
            <section class="result">
                <span>{{'"'}}{{generate?.title}}{{'"'}}:</span>
                <span>{{ '['}}</span>
                <div *ngFor="let array of arrayLiner">
                    <span>{{ '{'}}</span>
                    <ul *ngFor="let properties of generate?.properties">
                        <li>{{'"'}}{{properties?.titleProperties}}{{'"'}}:
                            <ng-container *ngIf="strin === 'string'">
                                {{'"'}}
                            </ng-container>
                            {{properties?.result}}
                            <ng-container *ngIf="strin === 'string'">
                                {{'"'}}
                            </ng-container>
                        </li>
                    </ul>
                    <span>{{ '},'}}</span>
                </div>
                <span>{{ ']'}}</span>
            </section>
        </section>

    </section>
</form>