.block{
    border: 1px solid black;
    box-shadow: 5px 5px 5px ;
    perspective:500px;
    min-width: 300px;
    max-height: 500px;
    overflow: auto;
    padding: 25px;
}

.result{
    margin-top: 10%;
    padding: 10px;
}

ul {
    margin: 0;
}

li{
    list-style-type: none;
    margin :0;
    display : inline;
}

.disabled{
    opacity: 0.3;
    background-color: grey;
    border: 1px solid red;
    cursor: not-allowed;
}

.valid{
    border: 1px solid green;
}

button{
    margin: 15px;
}