/* You can add global styles to this file, and also import other style files */

body, html {
    background-color: silver;
    font-size: 14px;
    font-family: arial;
    letter-spacing: 0.1em;
    text-align: center;
}
mat-form-field{
    margin: 5px;
    padding: 10px;
    text-align: center !important;
    cursor: pointer;
    border-radius: 10px;
}

mat-form-field:hover{
    margin: 5px;
    padding: 10px;
    text-align: center !important;
    cursor: pointer;
    background-color: antiquewhite;
    border: 1px solid white;
    border-radius: 10px;
}




.mat-body, .mat-body-1, .mat-typography {
    font-size: 14px;
    font-family: arial;
    letter-spacing: 0.1em;
    text-align: center;
}

button {
    cursor: pointer;
    border-radius: 15px;
    background-color: darkgrey;
    text-align: center;
    padding: 12px;
}

button:hover{
    background-color: red;
}
